# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
/Laboratory_work1/.idea
/Laboratory_work1/*.iml
/Laboratory_work1/out
/Laboratory_work1/gen
/Laboratory_work1/screenshots
/Laboratory_work1/ВычМат_19_ИТВ_3_Сапожников_Владислав_Олегович_ЛР_1.docx

